[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/c0de4un/opencv.git
[submodule "test"]
	path = test
	url = https://github.com/bystrobank/opencv-test-app.git
[submodule "external/opencv_contrib"]
	path = external/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
